@model SpedizioniSPA.Models.Spedizione

@{
    ViewBag.Title = "CreateSpedizione";
}

@Html.ActionLink("Back Office", "Backoffice", "Home", new { area = "" }, new { @class = "backofficeButton btn btn-dark" })

<h2 class="display-6 text-white">Inserimento Spedizione</h2>



<div class="container">
    <div class="row">
        <div class=" col slide-in-left ">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal text-white ">

                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group mb-3">
                        @Html.LabelFor(model => model.DataSpedizione, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.DataSpedizione, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.DataSpedizione, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group mb-3">
                        @Html.LabelFor(model => model.Peso, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Peso, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Peso, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group mb-3">
                        @Html.LabelFor(model => model.Costo, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Costo, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Costo, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group mb-3">
                        @Html.LabelFor(model => model.DataConsegna, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.DataConsegna, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.DataConsegna, "", new { @class = "text-danger" })
                        </div>
                    </div>



                    <div class="form-group mb-3">
                        @Html.LabelFor(model => model.CittaDestinazione, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.CittaDestinazione, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.CittaDestinazione, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="mb-3">
                        <div class="col-md-offset-2 col-md-10">
                            <label>
                                <input type="checkbox" id="checkboxPrivato"> Azienda
                            </label>
                        </div>
                    </div>

                    <div class="form-group mb-3">
                        @Html.LabelFor(model => model.IdDestinatario, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div id="Privato" class="col-md-10 mb-3">
                            @Html.DropDownListFor(model => model.IdDestinatario, ViewBag.listPrivato as SelectList, "Seleziona un Destinatario", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.IdDestinatario, "", new { @class = "text-danger" })
                        </div>


                        <div id="Azienda" class="col-md-10 mb-3">
                            @Html.DropDownListFor(model => model.IdDestinatario, ViewBag.listAzienda as SelectList, "Seleziona un Destinatario", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.IdDestinatario, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10 mb-3">
                            <input type="submit" value="Create" class="btn btn-outline-warning" />
                        </div>
                    </div>
                </div>
            }

        </div>
        <div class="col-12 col-md-6 col-lg-5">
            <img src="~/Images/logo2.png" alt="Alternate Text" class="img-fluid slide-in-right" />
        </div>
    </div>
</div>

<script>
    // Ottieni riferimenti agli elementi DOM
    var checkboxPrivato = document.getElementById('checkboxPrivato');
    var divPrivato = document.getElementById('Privato');
    var divAzienda = document.getElementById('Azienda');

    // Nascondi il div Azienda all'avvio
    divAzienda.style.display = 'none';

    // Aggiungi un gestore di eventi per il click sulla checkbox
    checkboxPrivato.addEventListener('change', function () {
        // Se la checkbox è selezionata
        if (this.checked) {
            // Mostra solo il div Privato e nascondi il div Azienda
            divPrivato.style.display = 'none';
            divAzienda.style.display = 'block';
        } else {
            // Altrimenti, mostra solo il div Azienda e nascondi il div Privato
            divPrivato.style.display = 'block';
            divAzienda.style.display = 'none';
        }
    });
</script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        // Al caricamento della pagina, controlla lo stato della checkbox
        $('#checkboxPrivato').change(function () {
            // Se la checkbox è selezionata, abilita il campo Privato e disabilita il campo Azienda, altrimenti fa il contrario
            if (this.checked) {
                $('#Privato select').prop('disabled', true);
                $('#Azienda select').prop('disabled', false);
            } else {
                $('#Privato select').prop('disabled', false);
                $('#Azienda select').prop('disabled', true);
            }
        });
    });
</script>
