<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Applicazione ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body class=""body>
    <div class="position-sticky">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark customNavBar">
        <div class="container">
            <a href="/Home/Index"> <img class="" src="~/Images/logo.png" style="width: 70px"> </a>
            @*@Html.ActionLink("Nome dell'applicazione", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Attiva/Disattiva spostamento" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li class="d-flex ms-2 na">@Html.ActionLink("Cerca Spedizione", "CercaSpedizione", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    @if (User.IsInRole("Admin"))
                    {

                        <li class="d-flex ms-2">@Html.ActionLink("BackOffice", "Backoffice", "Home", new { area = "" }, new { @class = "nav-link" })<i class="bi bi-building-fill nav-link ms-0"></i></li>
                    }

                    @if (Request.Cookies[".ASPXAUTH"] != null)
                    {
                        <li class="ms-auto d-flex"><i class="bi bi-box-arrow-in-left nav-link ms-0"></i>@Html.ActionLink("Logout", "Logout", "Login", new { area = "" }, new { @class = "nav-link" })</li>
                    }
                    else
                    {
                        <li class="ms-auto d-flex"><i class="bi bi-box-arrow-in-right nav-link ms-0"></i>@Html.ActionLink("Login", "Login", "Login", new { area = "" }, new { @class = "nav-link" })</li>
                    }


                    @*<li>@Html.ActionLink("Privato +", "CreatePrivato", "Privato", new { area = "" }, new { @class = "nav-link" })</li>
        <li>@Html.ActionLink("Azienda +", "CreateAzienda", "Azienda", new { area = "" }, new { @class = "nav-link" })</li>
        <li>@Html.ActionLink("Spedizione +", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>*@


                </ul>
            </div>
        </div>
    </nav>
    <div  class="w-100 bagOrange" style=" height:8px"></div>
    </div>
    <div class="container body-content">
        @RenderBody()

        <footer>
        </footer>
    </div>

    <script src="~/Scripts/jquery.validation.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
